footer {
	clear: both;
	display: block;
	text-align: center;
	color: #fff;
	background-color: #808080;
}
h1 {
	color: #008080;
	text-align: center;
}
h2 {
	color: #ffbf00;
	text-align: center;
}
nav {
	background-color: #808080;
	/*padding: .8em 0;*/
    color: #fffebb;
	border-bottom: 4px;
    border-bottom-color: #000000;
	/*outline-color: black;
	outline-style: solid;
	*/
}
nav a {
	background-color: #ffbf00;
	color: #fff;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}
nav a:hover {
	background-color: #ee5f3c;
}
p {
	text-align: center;
}
.board {
	height: 50%;
	width: 50%;
    background-color: #808080;
	display: inline-block;

}
.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #ffbf00;
	
	float: left;
	margin: 8%;
}
.name {
	color: #ff0000;
}
.king{
	background-image: url('http://res.cloudinary.com/mrbrd/image/upload/v1466025294/Hearts_13_ikildb.png');
	background-size: cover;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
}
.queen{
	background-image: url('http://res.cloudinary.com/mrbrd/image/upload/v1466025294/Hearts_12_ddwgq5.png');
	background-size: cover;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}